@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName") ?? "Guest";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-light border-bottom py-2 px-3 d-flex justify-content-between align-items-center">
        <div>
          
        </div>
        <div>
            Logged in as: <strong>@userName</strong>
            | <a href="/Home/Logout" class="text-decoration-none">Logout</a>
        </div>
    </header>

    <main class="flex-fill px-4">

            @RenderBody()   <!-- This is the dynamic content area -->
    </main>




    <footer class="bg-light border-top text-center py-2 mt-auto">
        <small>&copy; 2025-All Rights Reserved.</small>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

@RenderSection("Scripts", required: false)